/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-white: #ffff;
	--color--background-grey: #efefef;
	--color-background-white: #f6f6f6;
    --grote--text: 1rem;
    --button--text: 0.9rem;
    font-size: 16px;

    --darkMode-text:#ffff;
	--darkMode-text-black: #000;
	--darkMode--background-black: #1e1e1e;
	--darkMode-background-grey: #343434;
}
/* #494949 */

/* @media (prefers-color-scheme: light) {
	:root {
		--color-text:#111;
        --color-text-white: #ffff;
        --color--background-grey: #efefef;
        --color-background-white: #f6f6f6;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-text:#111;
        --color-text-white: #ffff;
        --color--background-grey: #2f2f2f;
        --color-background-white: #878787;
	}
} */





/****************/
/* JOUW STYLING */
/****************/
html {
    max-height: 100vh;
    height: fit-content;
}

body {
  font-family:eenfont, sans-serif;
  color:var(--color-text);
  background-color:var(--color--background-grey);
  height: 100vh;
  transition: all 2s;
  overflow: scroll;
}

body.darkModeClass {
    background-color: var(--darkMode--background-black);
    color: var(--color--background-grey);
}


/* jouw code */

*{
    font-family: Arial, Helvetica, sans-serif;
}

*:focus-visible {
    outline: none;
    outline: 0.3em solid orange;
    transform: scale(1.025);
    transition: transform 0.2s;
}

*:focus:not(:focus-visible):not(.knoppen #save) {
    outline: none;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
    transform: scale(none);
  }

*:active {
    outline: blue;
}

header{
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". nikeSvg button"
    ;
    padding-bottom: 0.25em;
    height: fit-content;

}

header div{
    max-height: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    border-bottom: none;
    /* transition: all 2s; */
} 

header #DMButton {
    background-color: var(--color-text);
    color: var(--color-text-white);
    font-size: var(--button--text);
    border: 0em;
    padding: 0.6em 1.7em;
    margin: 0.5em 1em;
    cursor: pointer;
    position: relative;
    grid-area: button;
    width: fit-content;
    height: fit-content;
    justify-self: end;
    align-self: center;
    transition: all 0.15s ease;
}

header #DMButton:hover {
    transform: scale(1.025);
    transition: all 0.15s ease;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}

header #DMButton.darkModeClass {
    color: var(--color-text);
    background-color: var(--color--background-grey);
}



.stylingDiv {
    grid-area: nikeSvg;
}

.nikeSvg {
    width: 8em;
    height: auto;
    transition: all 2s;
    justify-self: center;
}

.nikeSvg.darkModeClass {
    fill: var(--color--background-grey);
}



.container{
    max-width: 80em;
    text-align: center;
    margin: auto;
    background-color: var(--color-background-white);
    border: 0.1em solid var(--color--background-grey);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.4fr;
    padding: 0 0 1em 0;
    transition: all 2s;
}

.container.darkModeClass {
    background-color: var(--darkMode-background-grey);
    border: 0.1em solid var(--darkMode--background-black);
}



.content{
    padding: 0.6em 0em 0.6em 0em;
    font-size: var(--grote--text);
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr 2fr;
}

.content #melding {
    margin:  0;
    align-self: center;
}

.content #aantalCreaties {
    margin: 0.3em 0;
    align-self: center;
}

.content #welkom {
    margin: 1em 0.5em 0 0.5em;
}

.schoen {
    margin: 0 0 0.6em 0;
    grid-area: schoen;
    position: relative;
}

.schoen img {
    display: block;
    width: 22em;
    height: auto;
}

.schoen img:not(:first-of-type) {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
}

/* kleine schoentjes */
#deLijst .schoen {
    margin: 0;
}

#deLijst .schoen img {
    width:6em;
}

/***********/
/* KNOPPEN */
/***********/
.knoppen {
    width: 100%;
    height: auto;
    padding: 0px 0px 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-area: knoppen;
}

.knoppen button {
    background-color: var(--color-text);
    color: var(--color-text-white);
    font-size: var(--button--text);
    border: 0.15em solid var(--color-text);
    border: 0em;
    padding: 1em 0.7em;
    margin: 0.5em 1em;
    cursor: pointer;
    transition: transform 0.2s ease;
    transition: filter 1s ease-in-out;
}
 
.knoppen button:hover {
    transform: scale(1.025);
    transition: all 0.2s ease;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}

.knoppen #save:hover, .knoppen #inputVak:hover {
    transform: scale(1.005);
    transition: all 0.2s ease;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}

.knoppen button.darkModeClass {
    filter: invert(100%);
    transition: filter 1s ease-in-out;
}

.knoppen button:active {
    filter: invert(100%);
    transition: filter 0s ease-in-out;
}

.knoppen button.darkModeClass:active {
    filter: invert(0%);
    transition: filter 0s;
    
    
}

.knoppen #resetButton, #save, #creatie, #toonCreaties{
    background-color: var(--color--background-grey);
    color: var(--color-text);
    border: 0.15em solid var(--color-text);
    transition: filter 1s;
}

.knoppen #resetButton.darkModeClass, #save.darkModeClass, #creatie.darkModeClass, #toonCreaties.darkModeClass{
    filter: invert(100%);
    transition: filter 1s;
}

.knoppen #resetButton.darkModeClass:active, #save.darkModeClass:active, #creatie.darkModeClass:active, #toonCreaties.darkModeClass:active{
    filter: invert(0%);
    transition: filter 0s;
}

.knoppen #resetButton:active, #save:active, #creatie:active, #toonCreaties:active{
    filter: invert(100%);
    transition: filter 0s;
}

.knoppen #bovenZoolButton {
    grid-area: bovenZool;
}

.knoppen #onderZoolButton {
    grid-area: onderZool;
}

.knoppen #bodyAchterButton {
    grid-area: bodyAchter;
}

.knoppen #bodyVoorButton {
    grid-area: bodyVoor;
}

.knoppen #bodyMiddenButton {
    grid-area: bodyMidden;
}

.knoppen #logoButton {
    grid-area: logo;
}

.knoppen #neusButton {
    grid-area: neus;
}

.knoppen #resetButton {
    grid-area: reset;
}

.knoppen #save {
    grid-area: save;
}

.knoppen #inputVak {
    grid-area: input;
}


#inputVak {
    justify-self: center;
    align-self: end;
    font-size: var(--button--text);
    border: none;
    border: 0.15em solid var(--color-text);
    width: 95%;
    margin: 0.5em 1em;
    transition: scale 0.2s ease-in-out;
    transition: filter 1s ease-in-out;
}

#inputVak:hover {
    transform: scale(1.025);
    transition: scale 0.2s ease;
    box-shadow: 1px 1px 5px rgba(1, 1, 0, .7);
}

#inputVak.darkModeClass {
    filter: invert(100%);
    transition: all 1s ease-in-out;
}

#inputVak.darkModeClass:focus {
    filter: invert(0%);
    transition: filter 0s ease-in-out;
}

#naamInput {
    border: none;
    font-size: var(--button--text);
    width: 100%;
    
}

#inputVak #input{
    position: relative;
    height: auto;
    
}


/************/
/* DE LIJST */
/************/

#deLijst {
    margin:0 auto;
    padding:0;
    list-style: none;
    display: flex;
    gap:.5em;
    justify-content: center;
    flex-wrap:wrap;
}

#deLijst li {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap:.1em;
    height: fit-content;
}

#deLijst h4 {
    margin:0;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

/* de toon/schoen button */
#deLijst button:first-of-type {
    padding:0;
    grid-column: 1/-1;
    justify-self: center;
    
}

/* de verwijder button */
#deLijst button:last-of-type {
    grid-column-end: -1;
    grid-row-start:1;
    justify-self: end;
    height: fit-content;
    width: auto;
    padding: 0.05em 0.3em;
    font-size: 0.7rem;
    background-color: var(--color--background-grey);
    border: none;
    
    /* background: none;
    border: 0.1em solid var(--color--background-grey);
    color: var(--color-text); */
}


/************************/
/* BEGIN MEDIA QUERIES */
/************************/

    @media only screen 
    and (max-width: 370px) {
        #schoenFoto, #bovenZool, #onderZool, #bodyAchter, #bodyMidden, #bodyVoor, #logo, #neus{
            width: 100%;
            margin: auto;
            height: auto;
        }

        html {
            max-height: 100vh;
            overflow: hidden;
        }

        .nikeSvg{
            width: 3em;
            height: auto;
        }

        header div {
            height: fit-content;
        }

        :root{
            --grote--text: 0.6rem;
            --button--text: 0.5rem;
        }

        .container {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "header"
            "schoen"
            "knoppen"
            ;
        }

        .lijstVerbergen {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            animation: lijstVerbergen 0.2s
        }

        @keyframes lijstVerbergen {
            from {
                transform: translateX(0);

            } to {
                transform: translateX(-2em);
            }
        }

        .lijstTonen {
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
            animation: lijstTonen 0.2s;
        }

        @keyframes lijstTonen {
            from {
                transform: translateX(-2em);
            } to {
                transform: translateX(0);
            }
        }

        .buttonVerbergen {
            animation: buttonVerbergen 0.2s;
            opacity: 0;
        }

        @keyframes buttonVerbergen {
            from {
                opacity: 1;
                transform: translateY(0em);
            } to { 
                opacity: 0;
                transform: translateY(2em);
            }
            
        }

        .buttonTonen {
            animation: buttonTonen 0.2s;
            opacity: 1;
        }

        @keyframes buttonTonen {
            from {
                opacity: 0;
                transform: translateY(2em);
            } to {
                opacity: 1;
                transform: translateY(0em);
            }
        }


        .schoen {
            height: fit-content;
            
        }

        .content {
            height: fit-content;
            overflow: hidden;
            min-height: 15em;
        }

        .content h2 {
            margin: 0 0.5em;
        }

        .knoppen {
            overflow-x: hidden;
            overflow-y: auto;
            max-height:15;
            padding: 0;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 3em 3em 3em 3em 3em;
            grid-template-areas: 
            "bovenZool onderZool bodyVoor"
            "bodyMidden bodyAchter logo"
            "neus . reset"
            "input input input"
            "save save save"
            ;
        }

        .knoppen .button {
            width: 5em;
        }

        #inputVak {
            justify-self: center;
            align-self: center;
            font-size: var(--button--text);
        }

        #deLijst .schoen img {
            width:3em;
        }

        #deLijst h4 {
            font-size: var(--button--text);
            
            
        }
    }


    @media only screen 
    and (min-width: 370px) {
        #schoenFoto, #bovenZool, #onderZool, #bodyAchter, #bodyMidden, #bodyVoor, #logo, #neus{
            width: 100%;
            margin: auto;
            height: auto;
        }

        html {
            max-height: 100vh;
            overflow: hidden;
        }

        .nikeSvg{
            width: 3em;
            height: auto;
        }

        header div {
            height: fit-content;
        }

        :root{
            --grote--text: 0.75rem;
            --button--text: 0.65rem;
        }

        .container {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "header"
            "schoen"
            "knoppen"
            ;
        }

        .lijstVerbergen {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            animation: lijstVerbergen 0.2s
        }

        @keyframes lijstVerbergen {
            from {
                transform: translateX(0);

            } to {
                transform: translateX(-2em);
            }
        }

        .lijstTonen {
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
            animation: lijstTonen 0.2s;
        }

        @keyframes lijstTonen {
            from {
                transform: translateX(-2em);
            } to {
                transform: translateX(0);
            }
        }

        .buttonVerbergen {
            animation: buttonVerbergen 0.2s;
            opacity: 0;
        }

        @keyframes buttonVerbergen {
            from {
                opacity: 1;
                transform: translateY(0em);
            } to { 
                opacity: 0;
                transform: translateY(2em);
            }
            
        }

        .buttonTonen {
            animation: buttonTonen 0.2s;
            opacity: 1;
        }

        @keyframes buttonTonen {
            from {
                opacity: 0;
                transform: translateY(2em);
            } to {
                opacity: 1;
                transform: translateY(0em);
            }
        }


        .schoen {
            height: fit-content;
            
        }

        .content {
            height: fit-content;
            overflow: hidden;
            min-height: 15em;
        }

        .content h2 {
            margin: 0 0.5em;
        }

        .knoppen {
            overflow-x: hidden;
            overflow-y: auto;
            max-height:15;
            padding: 0;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 3em 3em 3em 3em 3em;
            grid-template-areas: 
            "bovenZool onderZool bodyVoor"
            "bodyMidden bodyAchter logo"
            "neus . reset"
            "input input input"
            "save save save"
            ;
        }

        .knoppen .button {
            width: 5em;
        }

        #inputVak {
            justify-self: center;
            align-self: center;
            font-size: var(--button--text);
        }

        #deLijst .schoen img {
            width:3em;
        }

        #deLijst h4 {
            font-size: var(--button--text);
            
            
        }
    }


    @media only screen 
    and (min-width: 480px) {
        #schoenFoto, #bovenZool, #onderZool, #bodyAchter, #bodyMidden, #bodyVoor, #logo, #neus{
            width: 100%;
            max-width: 44em;
            margin: auto;
            height: auto;
        }

        html {
            max-height: 100vh;
            overflow: hidden;
        }


        .nikeSvg{
            width: 4em;
            height: auto;
        }

        header div {
            height: fit-content;
        }

        :root{
            --grote--text: 0.85rem;
            --button--text: 0.75rem;
        }

        .container {
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas: 
            "header"
            "schoen"
            "knoppen"
            ;
            max-width: 45em;
        }

        .lijstVerbergen {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            animation: lijstVerbergen 0.2s
        }

        @keyframes lijstVerbergen {
            from {
                transform: translateX(0);

            } to {
                transform: translateX(-2em);
            }
        }

        .lijstTonen {
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
            animation: lijstTonen 0.2s;
        }

        @keyframes lijstTonen {
            from {
                transform: translateX(-2em);
            } to {
                transform: translateX(0);
            }
        }

        .buttonVerbergen {
            animation: buttonVerbergen 0.2s;
            opacity: 0;
        }

        @keyframes buttonVerbergen {
            from {
                opacity: 1;
                transform: translateY(0em);
            } to { 
                opacity: 0;
                transform: translateY(2em);
            }
            
        }

        .buttonTonen {
            animation: buttonTonen 0.2s;
            opacity: 1;
        }

        @keyframes buttonTonen {
            from {
                opacity: 0;
                transform: translateY(2em);
            } to {
                opacity: 1;
                transform: translateY(0em);
            }
        }


        .schoen {
            height: fit-content;
            
        }

        .content {
            height: fit-content;
            overflow: hidden;
            min-height: 15em;
        }

        .content h2 {
            margin: 0 0.5em;
        }

        .knoppen {
            overflow-x: hidden;
            overflow-y: auto;
            max-height:15;
            padding: 0;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "bovenZool onderZool bodyVoor"
            "bodyMidden bodyAchter logo"
            "neus . reset"
            "input input input"
            "save save save"
            ;
            
        }

        .knoppen .button {
            width: 5em;
        }

        #inputVak {
            justify-self: center;
            align-self: center;
            font-size: var(--button--text);
        }

        #deLijst .schoen img {
            width:3em;
        }

        #deLijst h4 {
            font-size: var(--button--text);
            
            
        }

       
    }

    @media only screen 
    and (min-height: 1000px) {
        
    }

    @media only screen 
    and (min-width: 1000px) {
        #schoenFoto, #bovenZool, #onderZool, #bodyAchter, #bodyMidden, #bodyVoor, #logo, #neus{
            width: 100%;
            margin: auto;
            height: auto;
        }

        html {
            max-height: 100vh;
            overflow: hidden;
        }

        .nikeSvg{
            width: 5em;
            height: auto;
        }

        header div {
            height: fit-content;
        }

        :root{
            --grote--text: 1rem;
            --button--text: 0.9rem;
        }

        .container {
            grid-template-columns: 1.25fr 0.75fr;
            grid-template-rows: 0.5fr 2fr;
            grid-template-areas: 
            "header header"
            "schoen knoppen"
            "schoen knoppen"
            ;
            height: 60em;
            width: 95%;
            max-width: 100em;
        }

        .lijstVerbergen {
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            animation: lijstVerbergen 0.2s
        }

        @keyframes lijstVerbergen {
            from {
                transform: translateX(0);

            } to {
                transform: translateX(-2em);
            }
        }

        .lijstTonen {
            opacity: 1;
            transition: opacity 0.2s ease-in-out;
            animation: lijstTonen 0.2s;
        }

        @keyframes lijstTonen {
            from {
                transform: translateX(-2em);
            } to {
                transform: translateX(0);
            }
        }

        .buttonVerbergen {
            animation: buttonVerbergen 0.2s;
            opacity: 0;
        }

        @keyframes buttonVerbergen {
            from {
                opacity: 1;
                transform: translateX(0em);
            } to { 
                opacity: 0;
                transform: translateX(2em);
            }
            
        }

        .buttonTonen {
            animation: buttonTonen 0.2s;
            opacity: 1;
        }

        @keyframes buttonTonen {
            from {
                opacity: 0;
                transform: translateX(2em);
            } to {
                opacity: 1;
                transform: translateX(0em);
            }
        }


        .schoen {
            height: fit-content;
            width: 100%;
            
        }

        .content {
            height: fit-content;
            overflow: hidden;
            min-height: 15em;
        }

        .content h2 {
            margin: 0 0.5em;
        }

        .knoppen {
            overflow-x: hidden;
            overflow-y: auto;
            max-height:15;
            padding: 0;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "bovenZool onderZool"
            "bodyVoor bodyMidden"
            "bodyAchter logo"
            "neus ."
            "reset reset"
            "input input"
            "save save"
            ;
            padding: 0 2em 4em 0;
        }

        .knoppen .button {
            width: 5em;
        }

        #inputVak {
            justify-self: center;
            align-self: center;
            height: fit-content;
            font-size: var(--button--text);
        }

        #naamInput {
            height: 3em;
        }

        #deLijst {
            padding: 0.5em 0;
        }

        #deLijst .schoen img {
            width:5em;
        }

        #deLijst h4 {
            font-size: calc(var(--button--text) * 1.2);
        
        }

        #deLijst button:last-of-type {
            font-size: calc(var(--button--text) * 1.2);
            border-radius: 25%;
        }
        
        header #DMButton {
            margin: 0.5em 20%;
            justify-self: baseline;
        }
       
                               
    }




/***************************/
/* KEYBOARD ACCESSIBILITY */
/***************************/

/* .knoppen button:focus {
    transform: scale(1.025);
    transition: scale 0.2s;
}

.knoppen input:focus {
    transform: scale(1.025);
    transition: scale 0.2s;
} */



/* .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "schoen knoppen"
    ;
    height: 60em;
    max-width: 100em;
} */