/* CSS Document */

/* FONTS */
@font-face {
	font-family: 'klmFont';
	src: url('../fonts/Foundry Context W03 X Bd.woff') format('woff');	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'amazonFont';
	src: url('../fonts/Foundry Context W03 X Bd.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* ALGEMENE STYLING */
*, *::after, *::before {
  box-sizing:border-box;  
}

@media (prefers-color-scheme: dark) {
	:root {
		--klmachtergrond: #EBE9E9;
		--klmblauw: #00A1E4;
		
		--amazonachtergrond: #ffff;
		--amazonoranje: #FF9900;
		
		--wit: #ffff;
		--zwart: #0000;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--klmachtergrond: #EBE9E9;
		--klmblauw: #00A1E4;
		
		--amazonachtergrond: #ffff;
		--amazonoranje: #FF9900;
		
		--wit: #ffff;
		--zwart: #0000;
	}
}


body {
	margin-top: 5em;
	width: auto;
  	color:#111;
	align-items: center;
	justify-content: space-evenly;
	display: flex;
}

@media only screen and (max-width: 760px) {
	body {
		flex-direction: column-reverse;
	}
}


/* BRAND STYLING */

.klm {
	background-color: var(--klmachtergrond);
	font-family: amazonFont;
	width: 25%;
	height: 560px;
	padding: 65px;
	align-items: center;
	text-align: center;
	display: grid;
	overflow: hidden;
	
	
}

.klm h1{
	text-transform: uppercase;
	color: var(--klmblauw);
	font-size: 6.5em;
	letter-spacing: -13px;
}

.klm span{
	position: relative;
}

.klm span:last-child:before {
	content: '+';
	position: absolute;
	color: var(--klmblauw);
	margin-left: -36px;
	margin-top: -60px;
	font-size: 0.43em;
	width: 0.77em;
	height: 0.77em;
    line-height: 0.62em;
	padding-right: 13px;
	
}

.klm:hover span:last-child:before{
	animation: klmPlus;
	animation-duration: 9s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out; 
	animation-direction: alternate;
	
}
 
.klm span:last-child::after{
	content: '••••';
	position: absolute;
	letter-spacing: -8px;
	margin-left: -165px;
	margin-top: -81px;
	color: var(--klmblauw);
	font-size: 6rem;
	display: inline-block;
	height: 96px;
}

.klm:hover span:last-child::after{
	animation: klmBollen;
	animation-duration: 9s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out; 
	animation-direction: alternate;
}

.klm h1 span:first-child{
	width: 250em;
}

.klm span:first-child:before{
	content: '';
	position: absolute;
	margin-left: 71px;
	margin-top: 0px;
	color: var(--klmblauw);
	display: inline-block;
	border-top: solid 15px var(--klmblauw);
	height: 96px;
	width: 95px
}

.klm:hover span:first-child:before{
	animation: klmBalkje;
	animation-duration: 9s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out; 
	animation-direction: alternate;
}







@keyframes klmBalkje {


	0% {
		transform: rotate(0deg);
	}

	34.998%{
		margin-top: -215px;
	}

	34.999%{
		margin-left: 71px;
	}

	35% {
		transform:  scale(0.4);
	} 

	36% {
		margin-top: -215px;
	}

	39% {
		margin:-215px 0px 0px -250px;
	}

	40% {
		margin:-145px 0px 0px -250px;
	}

	41% {
		margin:-145px 0px 0px -250px;
	}


	82%{
		margin:-145px 0px 0px 400px;
	}

	86% {
		margin:-145px 0px 0px 442px;
	}

	86.001% {
		margin:0px 0px 0px 442px;
	}

	95% {
		margin:0px 0px 0px 71px;
	}

	
}

@keyframes klmBollen {

	
	0% {
		transform: rotate(0deg);
	}

	34.998%{
		margin: -250px 0px 0px -161.5px;
	}

	35% {
		transform:  scale(0.4);
	} 

	36% {
		margin-top: -250px;
	}

	40% {
		margin: -250px 0px 0px -536px;
	}

	41% {
		margin: -189px 0px 0px -536px;
	}

	45% {
		margin: -189px 0px 0px -536px;
	}

	70% {
		margin: -189px 0px 0px -165px;
	}

	72% {
		transform: scale(0.4);
	}

	72.001% {
		margin: -189px 0px 0px -165px;
	}

	95% {
		margin: -81px 0px 0px -165px;
	}

	
}


@keyframes klmPlus {


	0% {
		transform: rotate(0deg) ;
	}

	34.998% {
		margin: -225px 0px 0px -36px;
	}

	35% {
		transform: rotate(7200deg) scale(0.5);
	} 

	36% {
		margin: -225px 0px 0px -36px;
	}

	39% {
		margin: -225px 0px 0px -350.5px;
	}

	41% {
		margin: -164px 0px 0px -350.5px;
	}

	/* 44.5% {
		transform: rotate(0deg);
	} */

	48% {
		margin: -164px 0px 0px -380.5px;
	}

	75% {
		margin: -164px 0px 0px -36px;
	}

	99.998%{
		margin: -60px 0px 0px -36px;
	}

	100% {
		/* transform: rotate(360deg); */
		/* transform: rotate(7560deg) ; */
	}
}












.amazon {
	background-color: var(--amazonachtergrond);
	flex-grow: 1;
	width: 100%;
	height: 650px;
	padding: 65px;
	text-align: center;
	display: grid;
	font-family: amazonFont;
	align-items: center;
}

.amazon h1 {
	color: var(--am);
}




/* KEYFRAMES */

